
<footer class="bg-light mt-5">
  <div class="text-center p-3">
    <a class="link-bottom" href="www.linkedin.com/in/alexandra-oure" target="_blank">
      <i class="fab fa-linkedin-in fa-2x mr-3"></i>
    </a>
    <a class="link-bottom" href="https://github.com/OUREAlexandra" target="_blank">
      <i class="fab fa-github-alt fa-2x mr-3"></i>
    </a>
    <a class="link-bottom" href="{{asset('asset/document/Alexandra_dev_fullstack.pdf')}}" target="_blank">
      <i class="far fa-file-pdf fa-2x mr-3"></i>
    </a>
    <p class="nav-bar-white title-footer mt-3">© 2020 Copyright: Alexandra développeuse full stack</p>
  </div>
</footer>
